<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Awrora Solar es una
					  organizaci&oacute;n que
					  piensa en como aprovechar la
					  energ&iacute;a solar">
	<meta name="author"      content="Aldo Mar&iacute;a Vizcaino">
	
	<title>Awrora</title>

	<link rel="shortcut icon" href="assets/images/sun.ico">
	
	<!-- Bootstrap itself -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/magister.css">

	<!-- Fonts -->
	<link href="boostrap/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Muli'
	      rel='stylesheet' type='text/css'>


	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	 
	 ga('create', 'UA-49097633-3', 'auto');
	 ga('send', 'pageview');
	 
	</script>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		
			<ul class="menu-restyling" style="list-style:none" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active
				menu">Inicio</a></li>
				<li><a href="#what" class="menu">
				&iquest;Qu&eacute; hacemos?</a></li>
				<li><a href="#where" class="menu">
				&iquest;D&oacute;nde nos presentamos?</a></li>
				<li><a href="#contact" class="menu">
				Contacto</a></li>
			</ul>
		
	</div>
</nav>
<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title"><img src="assets/images/logo.png"></h1>
				<br/><br/>
				<h2 class="subtitle muli">Trabajando para aprovechar la luz solar...</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline"></h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<!--<a href="#contact" class="btn btn-default btn-lg">Contáctenos</a>-->
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" style="background:white">
	  <div class="container" style="padding:10px;text-align:right">
		<a href="http://lphub.co/" target="_blank"><img src="assets/images/lphub.png" alt="lphub" style="height:100px" /></a>
	  </div>
	</nav>

</section>

<!-- Second (What) section -->

<section class="section" id="what">
	<div class="container">
		<img style="margin-left: 20%;"
		src="assets/images/awrora-explain.png"
		alt="Explicacion awrora"/>
		<br/>
		<br/>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">

                                  <h3>Prueba de concepto</h3>
				  <iframe width="640" height="360"
				  src="http://www.youtube.com/embed/0ISvnLjfIMU?feature=player_detailpage"
				  frameborder="0"
				  allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
                                  <h3>Prototipo 0.1</h3>
				  <iframe width="640" height="360"
				  src="http://www.youtube.com/embed/OgUEGOKo7As?feature=player_detailpage"
				  frameborder="0"
				  allowfullscreen></iframe>

			</div>
		</div>




	</div>
</section>

<!-- Third (Where) section -->

<section class="section" id="where">
	<div class="container">
	
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
                                  <h3>Presentaci&oacute;n M2M</h3>
				  <iframe width="640" height="360"
					  src="http://www.youtube.com/embed/AH_pLZ5ojbU?feature=player_detailpage"
					  frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
                                  <h3><a href="http://www.unlp.edu.ar/articulo/2013/11/15/encuentro_de_universitarios_emprendedores_nov_2013">V Encuentro emprendedores</a></h3>
				  <iframe width="640" height="360"
				  src="http://www.youtube.com/embed/eccFnUR6a7Q?feature=player_detailpage"
				  frameborder="0"
				  allowfullscreen></iframe>

			</div>
		</div>

</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container" >
	
		<h2 class="subtitle" style="text-align:center">CONT&Aacute;CTENOS</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				
				<p style="font-size:15px">info@awrora.solar<br><br></p>
				<ul class="list-inline list-social">
				        <li><a href="https://plus.google.com/115063343764260003675"
				        class="btn btn-link" rel="publisher"><img src="assets/images/g+.png" /></a></li>
					<li><a href="https://twitter.com/AwroraSolar" class="btn btn-link"><img src="assets/images/twitter.png" /></a></li>
					<li><a href="" class="btn btn-link"><img src="assets/images/facebook.png" /> </a></li>
					<li><a href="" class="btn btn-link"><img src="assets/images/linkedin.png" /></a></li>
				</ul>
			</div>
		</div>

	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom" style="background:white">
	  <div class="container" style="padding:10px;text-align:right">
		<img src="assets/images/lphub.png" alt="lphub" style="height:100px" />
	  </div>
	</nav>
</section>


<!-- Load js libs only when the page is loaded. -->
<script src="boostrap/jquery.min.js"></script>
<script src="boostrap/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/magister.js"></script>
</body>
</html>
